<section>
  {% capture sectiontitle %}
    {% if include.date %}
        <a class="reading-group-session-header" for-session="{{ include.date | date: "%b%d%Y"}}" >Session of {{ include.date }}</a>
    {% else %}
        Session
    {% endif %}
  {% endcapture %}
  {% include frags/section_header.html title=sectiontitle  %}


  <section class="reading-group-session {{ include.date | date: "%b%d%Y"}}" >
    <table>
      <tbody>
        {% if include.hour %}
          {% capture redate %}
            {{ include.date | date:  "%b %d, %y at"}} {{ include.hour  | date: "%H:%M" }}
          {% endcapture %}
          {% include frags/row.html header="Date" data=redate %}
        {% else %}
          {% include frags/row.html header="Date" data=include.date %}
        {% endif %}
        {% include frags/row.html header="Location" data=include.location %}
        {% include frags/row.html header="Presented by" data=include.speaker %}
        {% include frags/row.html header="Paper presented" data=include.paper link=include.paper_link%}
        {% include frags/zippedrow.html header="Papers presented" fst=include.papers snd=include.paper_links %}
        {% if include.slides_link %}
          {% capture link %}
            <a href="{{ include.slides_link }}" {% if include.slides_downloadable %} download {% else %} target="_blank" {% endif %}>link</a>
          {% endcapture %}
          {% if include.slides_downloadable %}
            {% include frags/row.html header="Download slides" data=link %}
          {% else %}
            {% include frags/row.html header="Link to slides" data=link %}
          {% endif %}
        {% endif %}
      </tbody>
    </table>
    {% if include.supplementary_content %}
      {{ include.supplementary_content }}
    {% endif %}
  </section>
</section>
