---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Home &ndash; Timothee Mickus</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
        <header>
          <h1><tt>whoami</tt></h1>
        </header>
        <section style="max-width:800px; text-align:justify">
          <p>
            I'm Timothee Mickus, a 3<sup>rd</sup> year PhD student at <a href="https://www.atilf.fr/">ATILF</a>,
            under the supervision of <a href="https://perso.atilf.fr/mconstant/">Mathieu Constant</a>
            and <a href="https://sites.google.com/site/denispaperno/">Denis Paperno</a> at Utrecht University.
          </p>
          <p>
            I hold a Masters in Computational Linguistics from the now-Université de Paris
            <a href="https://www.linguist.univ-paris-diderot.fr/cursusli">Computational Linguistics curriculum</a>.
            My thesis was on distributional effects of grammatical gender contrasts on French human nouns,
            which you can read <a href="/pdf/masters.pdf" download>here</a>.
          </p>
          <p>
            My PhD research topic is on distributional semantics and dictionaries:
            do dictionary definitions depict meaning in the same way as neural networks-based word vectors?
            Can we come up with quantitative ways of measuring how similar these two theories are?
            This PhD is funded by the <a href="http://lue.univ-lorraine.fr/en/open-language-and-knowledge-citizens-olki">OLKi project</a>.
          </p>
          <p>
            I used to be in charge of the Synalp NLP reading group.
            I'm currently in charge of the <a href="https://git.atilf.fr/cafe-tal/presentations">Café TAL</a>, a NLP meeting held every other week here at ATILF.
          </p>
          <p>
            I'm also the main culprit behind <a href="https://blankcrack.atilf.fr/">BlankCrack</a>.
            BlankCrack is an online game "with a purpose", developed to collect linguistic annotations:
            we're looking words which have similar contexts but different meanings.
            The game is available in <a href="https://blankcrack.atilf.fr/game/?lang=en">English</a>,
            <a href="https://blankcrack.atilf.fr/game/?lang=fr">French</a>,
            <a href="https://blankcrack.atilf.fr/game/?lang=it">Italian</a>,
            <a href="https://blankcrack.atilf.fr/game/?lang=es">Spanish </a>
            and <a href="https://blankcrack.atilf.fr/game/?lang=ru">Russian</a>,
            and is <em>by no means</em> an excuse I came up with to draw squirrels instead of writing my dissertation.
          </p>
          <p>
            I am organizing a SemEval shared task!
            It's about comparing dictionaries and word embeddings, with five languages, three embedding architectures and fish puns galore;
            I've been told that it probably "counts as outsourcing my thesis."
            Check out the task here: <a href="https://competitions.codalab.org/competitions/34022">Task 1 at SemEval 2022: CODWOE</a>.
          </p>
          <p>
            On a more personal note, I happen to be a metalhead, a science-fiction enthusiast and a python programmer.
          </p>
        </section>
    </section>
  </body>
</html>
