---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Home &ndash; Timothee Mickus</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <header>
        <h1><tt>whoami</tt></h1>
      </header>
      <section style="max-width:800px; text-align:justify">
        <p>
          I'm Timothee Mickus, a postdoc at the University of Helsinki;
          I was involved in the ERC-funded <a href="https://blogs.helsinki.fi/language-technology/fotran/">FoTran</a> project
          led by <a href="https://blogs.helsinki.fi/tiedeman/">Jörg Tiedemann</a>, and am now part of his 
          <a href="https://blogs.helsinki.fi/language-technology/uncertainty-aware-lm/">Uncertainty-aware neural language model</a> funded by the Academy of Finland.
        </p>
        <p>
          I did my PhD at <a href="https://www.atilf.fr/">ATILF</a>, under the supervision of 
          <a href="https://perso.atilf.fr/mconstant/">Mathieu Constant</a> and 
          <a href="https://sites.google.com/site/denispaperno/">Denis Paperno</a> at Utrecht University.
          You can read the whole thing <a href="http://docnum.univ-lorraine.fr/public/DDOC_T_2022_0066_MICKUS.pdf">here</a>.
          My PhD research topic was on distributional semantics and dictionaries:
          Do dictionary definitions depict meaning in the same way as neural networks-based word vectors?
          Can we come up with quantitative ways of measuring how similar these two theories are?
          This PhD was funded by the <a href="http://lue.univ-lorraine.fr/en/open-language-and-knowledge-citizens-olki">OLKi project</a>.
          It received an <a href="https://www.atala.org/prix-these">award</a> from the ATALA, the French scientific society for NLP.
        </p>
        <p>
          I also hold a Masters in Computational Linguistics from the now-Université de Paris
          <a href="https://www.linguist.univ-paris-diderot.fr/cursusli">Computational Linguistics curriculum</a>.
          My thesis was on distributional effects of grammatical gender contrasts on French human nouns,
          which you can read <a href="/pdf/masters.pdf" download>here</a>.
        </p>
      </section>
        <!--  news & stuff -->
        <section style="max-width:800px; text-align:justify">
          <header>
            <h1><tt>what's new</tt></h1>
          </header>
          <p>
            Our <a href="https://helsinki-nlp.github.io/shroom/2024">SHROOM shared task on hallucination detection</a> got an award at last year's SemEval! 
            Thanks a lot to everyone who participated and helped organize this madness. 
          </p>
          <p>
            We're now organizing a follow-up. It's called MuSHROOM, since it's a multilingual SHROOM. 
            I'm the co-lead organizer with <a href="https://jrvc.github.io/">Raúl Vázquez</a>.
            More info available (and to appear) on the <a href="https://helsinki-nlp.github.io/shroom/">MuSHROOM task website</a>.
          </p>
        </section>
        <!--  projects & gallery -->
        <section style="max-width:800px; text-align:justify">
          <header>
            <h1><tt>what's old</tt></h1>
          </header>
          <p>
            Below are some of the projects I've been working on or have previously worked on. (Incidentally, it's also a gallery of all the random puns & logos I came up with.)
          </p>
          <section class="projects-container">
            
            <section class="square">
              <a href="https://github.com/TimotheeMickus/codwoe"><img src="/img/codwoe-logo.png"></a>
            </section>
            
            <section class="square">
              <a href="https://blankcrack.atilf.fr/game/"><img src="/img/urss-win.png"></a>
            </section>
            
            <section class="square">
              <a href="https://helsinki-nlp.github.io/shroom/2024"><img src="/img/shroom-logo.png"></a>
            </section>
            
            <section class="square">
              <a href="https://moomin-workshop.github.io/"><img src="/img/moomin-logo+acronym.png"></a>
            </section>

            <section class="square">
              <a href="https://github.com/Helsinki-NLP/mammoth/"><img src="/img/mammoth_google-noto.png"></a>
            </section>
            
            <section class="square">
              <a href="https://github.com/ltgoslo/axolotl24_shared_task"><img src="/img/axolotl24.png"></a>
            </section>
            
            <section class="square">
              <a href="https://helsinki-nlp.github.io/shroom"><img src="/img/mu-shroom-logo.png"></a>
            </section>
            
          </section>
    </section>
  </body>
</html>
