---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>My PhD, explained to my folks.</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <header>
        <h1><tt>My PhD, explained to my folks.</tt></h1>
      </header>
      <section style="max-width:800px; text-align:justify">
        <p>
          Here's an index of the series of blog posts where I try (more like
          "struggle") to explain exactly what it is that I spend my days toiling
          on to people who have no specific knowledge of math, linguistics, or
          NLP.
        </p>
        <ul>
          {% assign sorted = site.categories.my-phd-explained-to-my-folks | sort: 'date' %}
          {% for post in sorted %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <em>{{ post.excerpt|strip_html }}&hellip;</em>
            </li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </body>
</html>
