---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include frags/meta.html %}
    <title>Publications</title>
  </head>
  <body>
    {% include frags/nav.html %}
    <section>
      <header>
        <h1>Publications</h1>
      </header>
      <section>
        <header>
          <h1>2022</h1>
        </header>
        <table style="width:100%">
          <tr style="width:100%">
            <td style="width:8%">Jul. 2022</td>
            <td style="width:24%">T. Mickus, K. van Deemter, M. Constant & D. Paperno</td>
            <td style="width:50%">Semeval-2022 Task 1: CODWOE -- Comparing Dictionaries and Word Embeddings</td>
            <td style="width:8%">SemEval</td>
            <td style="width:10%">
              <!-- [<a href="http://svn.nlpl.eu/outreach/dl4nlp/2019/W19-0501.pdf">paper</a>],  -->
              [<a href="https://github.com/TimotheeMickus/codwoe">code</a>], [<a href="https://codwoe.atilf.fr/">data</a>]</td>
          </tr>
          <tr style="width:100%">
            <td style="width:8%">Jun. 2022</td>
            <td style="width:24%">T. Mickus, D. Paperno & M. Constant</td>
            <td style="width:50%">How to Dissect a Muppet: The Structure of Transformer Embedding Spaces</td>
            <td style="width:8%">TACL</td>
            <td style="width:10%">
              <!-- [<a href="https://ieee-cog.org/2021/assets/papers/paper_268.pdf">paper</a>] -->
            </td>
          </tr>
        </table>
      </section>
      <section>
        <header>
          <h1>2021</h1>
        </header>
        <table style="width:100%">
          <tr style="width:100%">
            <td style="width:8%">Dec. 2021</td>
            <td style="width:24%">T. Mickus, D. Paperno & M. Constant</td>
            <td style="width:50%">About Neural Networks and Writing Definitions</td>
            <td style="width:8%">Dictionaries, Journal of the DSNA</td>
            <td style="width:10%">[<a href="https://muse.jhu.edu/article/843061">paper</a>]</td>
          </tr>
          <tr style="width:100%">
            <td style="width:8%">Aug. 2021</td>
            <td style="width:24%">T. Mickus, M. Constant & D. Paperno</td>
            <td style="width:50%">A Game Interface to Study Semantic Grounding in Text-Based Models</td>
            <td style="width:8%">IEEE CoG</td>
            <td style="width:10%">[<a href="https://ieee-cog.org/2021/assets/papers/paper_268.pdf">paper</a>]</td>
          </tr>
        </table>
      </section>
      <section>
        <header>
          <h1>2020</h1>
        </header>
        <table style="width:100%">
          <tr style="width:100%">
            <td style="width:8%">Dec. 2020</td>
            <td style="width:24%">T. Mickus, T. Bernard & D. Paperno</td>
            <td style="width:50%">What Meaning-Form Correlation Has to Compose With</td>
            <td style="width:8%">COLING</td>
            <td style="width:10%">[<a href="https://www.aclweb.org/anthology/2020.coling-main.333/">paper</a>], [<a href="https://github.com/TimotheeMickus/mf-correl">code</a>]</td>
          </tr>
          <tr style="width:100%">
            <td style="width:8%">Jun. 2020</td>
            <td style="width:24%">T. Mickus, M. Constant & D. Paperno</td>
            <td style="width:50%">Génération Automatique de Définitions pour le Français</td>
            <td style="width:8%">TALN</td>
            <td style="width:10%">[<a href="https://hal.archives-ouvertes.fr/hal-02784756">paper</a>]</td>
          </tr>
          <tr style="width:100%">
            <td style="width:8%">Jan. 2020</td>
            <td style="width:24%">T. Mickus, D. Paperno, M. Constant & K. van Deemter</td>
            <td style="width:50%">What do you Mean, BERT? Assessing BERT as a Distributional Semantics Model</td>
            <td style="width:8%">SCiL</td>
            <td style="width:10%">[<a href="https://scholarworks.umass.edu/scil/vol3/iss1/34/">paper</a>]</td>
          </tr>
        </table>
      </section>
      <section>
        <header>
          <h1>2019</h1>
        </header>
        <table style="width:100%">
          <tr style="width:100%">
            <td style="width:8%">Sep. 2019</td>
            <td style="width:24%">T. Mickus, D. Paperno & M. Constant</td>
            <td style="width:50%">Mark my Word: A Sequence-to-sequence Approach to Definition Modeling</td>
            <td style="width:8%">DL4NLP @ NoDaLiDa</td>
            <td style="width:10%">[<a href="http://svn.nlpl.eu/outreach/dl4nlp/2019/W19-0501.pdf">paper</a>], [<a href="https://github.com/TimotheeMickus/onmt-selectrans">code</a>]</td>
          </tr>
          <tr style="width:100%">
            <td style="width:8%">Jan. 2019</td>
            <td style="width:24%">T. Mickus, O. Bonami & D. Paperno</td>
            <td style="width:50%">Distributional Effects of Gender Contrasts Across Categories</td>
            <td style="width:8%">SCiL</td>
            <td style="width:10%">[<a href="https://scholarworks.umass.edu/scil/vol2/iss1/19/">paper</a>]</td>
          </tr>
        </table>
      </section>
    </section>
  </body>
</html>
