<meta charset="utf-8">
<link rel="stylesheet" href="{{ site.url }}/css/base.css"><!-- wtf hard coding -->
<script src="{{ site.url }}/js/jquery-3.3.1.min.js" ></script>
<script src="{{ site.url }}/js/jquery-funcs.js" ></script>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="Timothee Mickus">
<meta name="twitter:title" content="Timothee Mickus">
<meta property="og:image" content="{{ site.url }}/img/midule.jpg">
<meta name="twitter:image:alt" content="(the secret rabbit pic)">
<meta property="og:description" content="Welcome to my website. Mostly stuff related to my research, but you've unlocked the secret rabbit pic by sharing this.">
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
