<meta charset="utf-8">
<link rel="stylesheet" href="/css/base.css">
<script src="js/jquery-3.3.1.min.js" ></script>
<script src="js/jquery-funcs.js" ></script>
<meta name="twitter:card" content="summary">
<meta property="og:url" content="https://timotheemickus.github.io/">
<meta property="og:title" content="Timothee Mickus">
<meta name="twitter:title" content="Timothee Mickus">
<meta property="og:image" content="https://timotheemickus.github.io/img/midule.jpg">
<meta name="twitter:image:alt" content="(the secret rabbit pic)">
<meta property="og:description" content="Welcome to my website. Mostly stuff related to my research, but you've unlocked the secret rabbit pic by sharing this.">
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
