<nav>
  <section>
    <header>
      <h1><tt>Nav</tt></h1>
    </header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/publications.html">Publications</a></li>
      <li><a href="/cv.html">CV</a></li>
      <!-- <li><a href="/blog.html">Blog</a></li> -->
      <!-- <li><a href="/reading_group.html">Synalp Reading Group (2018&ndash;2019)</a></li> -->
    </ul>
    <hr style="width:75%"/>
  </section>
  <section>
    <header>
      <h1><tt>Blog</tt></h1>
    </header>
    <ul>
      <!-- <li><a href="/blog.html">All posts</a></li> -->
      <li><a href="/my-phd-explained-to-my-folks.html">My PhD, explained to my folks.</a></li>
    </ul>
    <hr style="width:75%"/>
  </section>
  <section>
    <header>
      <h1><tt>External links</tt></h1>
    </header>
    <ul>
      <li><a href="mailto:timothee.mickus@helsinki.fi">Mail</a></li>
      <li><a href="https://www.aclweb.org/anthology/people/t/timothee-mickus/">ACL Anthology</a></li>
      <li><a href="https://github.com/TimotheeMickus/">GitHub</a></li>
      <li><a href="https://scholar.google.com/citations?hl=en&user=8Ysk3uYAAAAJ">Google Scholar</a></li>
      <li><a href="https://www.linkedin.com/in/timothee-mickus-0844b113a/">LinkedIn</a></li>
      <li><a href="https://www.researchgate.net/profile/Timothee-Mickus">Research Gate</a></li>
      <li><a href="https://www.semanticscholar.org/author/Timothee-Mickus/122281127">Semantic Scholar</a></li>
      <li><a href="https://twitter.com/linguistickus">Twitter</a></li>
</ul>
    <hr style="width:75%"/>
  </section>
  <!-- <section>
    <header>
      <h1><tt>Projects</tt></h1>
    </header>
    <ul>
      <li><a href="https://blankcrack.atilf.fr">BlankCrack</a></li>
      <li><a href="https://competitions.codalab.org/competitions/34022">CODWOE (SemEval)</a></li>
      <li><a href="https://git.atilf.fr/cafe-tal/presentations">Café TAL</a></li>
    </ul>
    <hr style="width:75%"/>
  </section> -->
</nav>
